<%= form_tag("/auth", :method => "post") do %>
    <table id="add_form">
    <caption><h1>Вход</h1></caption>
        <tr>
            <td width="40%">Введите имя</td>
            <td><%= text_field_tag :name, nil, class: "enter" %></td>
        </tr>
        <tr>
            <td>Введите пароль</td>
            <td><%= password_field_tag :password, nil, class: "enter" %></td>
        </tr>
        <tr>
            <td><%= submit_tag "Войти", class: "btn" %></td>
            <td><span style="color: red;"><%= @error %></span></td>
        </tr>
        <tr style="font-style: italic; font-size: medium;">
            <td><span style="font-size: medium;">Еще не зарегистрированы?</span></td>
            <td><a href="/register" style="font-size: medium;">Зарегистрироваться</a></td>
        </tr>
    </table>
<% end %>