<%= form_tag("/create_new_user", :method => "post") do %>
    <table id="add_form">
    <caption><h1>Регистрация</h1></caption>
        <tr>
            <td width="40%">Введите имя</td>
            <td><%= text_field_tag :name, nil, class: "enter" %></td>
        </tr>
            <tr>
            <td>Введите email</td>
            <td><%= email_field_tag :email, nil, class: "enter" %></td>
        </tr>
        <tr>
            <td>Введите пароль</td>
            <td><%= password_field_tag :password, nil, class: "enter" %></td>
        </tr>
        <tr>
            <td>Повторите пароль</td>
            <td><%= password_field_tag :another_password, nil, class: "enter" %></td>
        </tr>
        <tr>
            <td><%= submit_tag "Зарегистрироваться", class: "btn" %></td>
            <td><span style="color: red;"><%= @error %></span></td>
        </tr>
        <tr style="font-style: italic;">
            <td><span style="font-size: medium;">Уже зарегистрированы?</span></td>
            <td><a href="/login" style="font-size: medium;">Войти</a></td>
        </tr>
    </table>
<% end %>